[2014-10-08 18:05] plasticine opened #1 "Allow for injections of specific requires"
Something like:

`require(inject?lib/dispatcher!stores/my_store)`

Will only inject a dependency for the requirement of `lib/dispatcher` inside `stores/my_store`.

[2014-10-08 18:16] plasticine opened #2 "Should emit an error if when an injection is set via query and then not used"
Given:

[code]

Should raise an error:

[code]

Shouldn’t error:

[code]

[2015-03-01 16:15] stephanos opened #5 "define dependencies not to wrap globally"
I often use lodash. When I have a file with 5 dependencies where I want to mock everything but lodash I currently need to specify all other 4 dependencies explicitly: `inject?lib1&lib2&lib3&lib4!testable`. Therefore it would be great if the plugin could have some kind of global configuration to always exclude libraries like lodash.

[2015-03-01 21:04] plasticine commented on #5
Yeah, that would be neat—thanks for the suggestion.

[2015-03-01 21:05] #1 closed

[2015-04-13 14:33] tomatau opened #6 "support babel's import syntax"
Trying to work with a webpack bundle using babel to compile ES6 files and work with:
[code]

The inject loader doesn't work and ends up with:

[code]

[2015-04-28 15:36] thomasklein commented on #6
+1

[2015-04-28 17:28] thomasklein commented on #5
+1

[2015-05-19 20:36] kpdecker commented on #6
What version of babel is this?

It's working fine for me under this version:
[code]

The code that is generated looks something like this:
[code]

[2015-05-19 21:31] plasticine commented on #6
I would like to actually add some test coverage around this and make sure it is working / ensure that it stay working.

[2015-05-20 01:48] plasticine commented on #5
This is resolved by #7.

All dependencies of a module are still injected by default, however if a replacement is no provided it will roll back to the original dependency.

[2015-05-20 01:48] #5 closed

[2015-05-21 08:51] tomatau commented on #6
`babel: ^5.0.0`

The 5.0 introduces many big improvements but changes many of it's internals since `4.x` around the module system.

[2015-05-29 20:27] jerrysu opened #9 "npm publish?"
We're starting to use this on a project and noticed that the last merge which hasn't been published to npm does what we'd like `inject-loader` to do. We are considering forking `inject-loader` so that we can get more tests written, but would be easier to just keep pushing this project forward.

[2015-05-30 01:01] plasticine commented on #9
Hey there, @jerrysu glad to hear you’re looking to use `inject-loader` :)

I was hanging back from publishing a new version as the changes are breaking so it would be a major version bump, and I have some other enhancements that I’m working on. That said, version numbers are cheap, so I’ll publish `2.0.0` today. :)

[2015-05-30 02:18] plasticine commented on #9
@jerrysu `2.0.0` is published

[2015-05-30 02:18] #9 closed

[2015-05-30 02:20] jerrysu commented on #9
Thanks @plasticine!

[2015-05-30 02:21] plasticine commented on #9
@jerrysu Welcome! Let me know if you have any feedback if you end up using it in anger. :metal:

[2015-06-02 18:39] kpdecker commented on #6
This works for me under 5.0, but I am running with #7 merged (which appears to have been released under inject-loader 2.0.0).

[code]

My first guess, without seeing a repo case, is that the injection was missing, which causes the eventual `.default` reference to be undefined. I'm not seeing it locally as I have the failover from #7 in place. This is just a guess though.

@plasticine glad to try t

[2015-06-02 18:44] kpdecker commented on #6
I also had to do some hacks around the `__esModule` flag, which isn't really related to inject-loader persay, but we might be able to find a good utility or similar to help make that a bit more transparent.

[2015-06-22 19:28] chengyin opened #10 "Maintain sourcemapping for injected modules."
I am not 100% which side is the best to resolve this issue since there are multiple plugins involve. However, I do want to report this so the maintainer and other users are aware of this problem.

First, our setup is:
- webpack
- karma + mocha
- Istanbul
- inject-loader
- [istanbul-instrumenter-loader](https://github.com/deepsweet/istanbul-instrumenter-loader)

The istanbul-instrumenter-loader was

[2015-07-24 08:28] nkbt commented on #10
This is a problem of istanbul-instrumenter-loader
https://github.com/deepsweet/istanbul-instrumenter-loader/pull/12

[2015-07-24 08:35] nkbt commented on #6
For me it works well, see example in https://github.com/in-flux/component-router/blob/master/test/Store-test.js and other tests in the repo.

Though there seems to be an issue when module exports more then one thing. Injector simply returns empty object in that case.

See example https://github.com/chenglou/react-motion/blob/f43b9365c3552d38d144358101b1496c7f4c716a/test/Spring-test.js

Not sure if

[2015-07-24 10:58] nkbt commented on #6
Made a separate build:

[code]

So `module.exports` is never filled. Only `exports`. But injector returns `module.exports`.

If module exports `default`, then everything works fine:

[code]

[2015-07-24 11:25] plasticine commented on #10
Thanks for reporting. This is an issue I'm aware of. I think to work up a fix I will need to reprocess the source maps if they are supplied.

I'm on vacation for the next week or so, i plan to do a bunch of work on this stuff when I get back to work. :v:

[2015-08-04 09:33] rpominov commented on #6
Same issue here. When a module exports default and only default it works fine. But if it also exports something else, the result of `injector(injections)` is an empty object.

When I was trying to find the issue, I saw the same generated code as @nkbt posted. At the top it creates `module` variable, and returns `module.exports` at the bottom, but in the middle `exports` variable is used, which is

[2015-08-04 09:44] rpominov commented on #6
Ah, I see it already fixed by #11. Cool, waiting for release and install from github in meantime :+1:

[2015-08-04 09:45] plasticine commented on #6
@rpominov Hey there, yep—hopefully fixed in #11. I’m back at a computer as of tomorrow, so I’ll try and verify everything is A-OK and ship a release then. :)

[2015-08-04 09:51] rpominov commented on #6
Great, thank you! Btw, I just installed from github and it works fine for us :ok_hand:

[2015-08-05 20:18] plasticine commented on #6
OK, I’ve published `2.0.1`, which should hopefully fix the issues with Babel generated code. Please have a look and open a new issue if there are dramas. :heart:

[2015-08-05 20:18] #6 closed

[2015-08-14 16:38] dallonf commented on #10
Just ran into exactly this problem. Anything I can do to help?

[2015-08-14 18:12] nkbt commented on #10
Not to include same file with inject loader *and* without in the same build.

This is usually an indication, some of your unit tests include too much.

Though I made a dirty fix for istanbul-loader to address this (not accepted)

[2015-11-18 17:01] MaryBartlett opened #12 "Using the 'real' module should be configurable"
This pull request resulted in the 'real' module being loaded if it wasn't mocked out https://github.com/plasticine/inject-loader/pull/7

Ideally this should be configurable - and present a warning that the module isn't being mocked out.

There should also be some documentation around this as it's not clear the changes on upgrading from 1.0.0 to 2.0.1.

[2016-02-10 05:40] austinknight commented on #10
Did anyone find a workaround for this? I've got inject-loader working just fine, the coverage report still just reports tested lines as untested still.

[2016-03-02 16:58] djskinner commented on #12
+1. Is call-thru to the original dependency supported at all currently? I'm migrating from proxyquire and would like to make use of this to reduce the amount of work I need to do.

[2016-05-25 12:55] ondrejsevcik opened #13 "Not working with babel 6"
Hi, I've just upgraded from Babel 5.3.3 to Babel 6.9.0 and a lot of my tests stopped working.
I'm using latest jasmine (2.4) with karma test runner and webpack as a preprocessor.

[code]

Do you have any idea where is the problem? My guess is it's because inject-loader was written for Babel 5 but wasn't upgraded for babel 6 yet. Is that right?

[2016-05-31 20:38] aaronjensen commented on #13
@ondrejsevcik you'll probably need https://github.com/59naga/babel-plugin-add-module-exports

We need this to get `inject-loader` working properly, unfortunately.

[2016-06-07 09:24] ondrejsevcik commented on #13
Awesome! it works as expected.

Thank you

[2016-06-07 09:24] #13 closed

[2016-08-17 06:11] sudsy opened #14 "Not working with WebPack 2 beta"
./~/inject-loader!../src/pages/calculators/module-ray-tracer/calc-module-ray-tracer/turboSimJobManager.js
Module parse failed: C:\Users\sudsy\Development\gen3\PVL.Content\tests\node_modules\inject-loader\index.js!C:\Users\sudsy\Development\gen3\PVL.Content\src\pages\calculators\module-ray-tracer\calc-module-ray-tracer\turboSimJobManager.js 'import' and 'export' may only appear at the top level (4:

[2016-08-25 13:38] Aaronius opened #15 "When injecting a falsey export, it shouldn't fall back to real module"
In one of my tests, I wish to inject an falsey export. That is, I want to see what module A does when it requires module B and module B exports `undefined`, `null`, or `false`. Unfortunately, inject-loader outputs something like this:

[code]

Given that the injection is falsey, it doesn't use my injection and instead uses the real module which makes my test useless.

[2016-08-25 13:51] Aaronius commented on #15
@plasticine would you be open to a PR for this? I'm thinking of changing this line:

https://github.com/plasticine/inject-loader/blob/14d573a1b17bcd7b5d37c8163f2fe08b4f04625c/index.js#L55

[code]

to something like:

[code]

[2016-08-25 20:12] jnicholl opened #17 "Source maps break"
So far working with inject-loader has been great, but I found that source maps don't produce the right line numbers for injected modules. I'm running ES6 code through babel and using inject-loader to mock out dependencies for testing.
I was able to get something working by joining lines with spaces instead of \n and just passing the provided source map (second argument) back in this.callback. This

[2016-09-03 00:59] #15 closed

[2016-09-03 02:53] plasticine commented on #12
Hey there. 👋  Bit overdue, but trying to get back to these.

I’m not sure I understand — currently if a replacement is not passed to the created module inject function then the original is used. This is the current behaviour, but could certainly use better docs (the whole module could!).

If I’m missing something then please feel free to clarify and re-open.

[2016-09-03 02:53] #12 closed

[2016-09-03 04:04] #2 closed

[2016-09-03 04:30] plasticine commented on #14
@sudsy Hey there, I think what is happening here is that you are perhaps trying to inject before you’ve transformed the code. This would mean that is you are writing code using es6 modules (as above), they are going to be moved inside the closure for injection.

Please try running inject after and code transformations (e.g babel), and feel free to re-open if you’re still having issues. 👍

[2016-09-03 04:30] #14 closed

[2016-09-03 04:39] plasticine commented on #17
Hey @jnicholl Thanks for the report. This is the same issue as #10, so if you don’t mind I’ll close this in favour of that earlier issue.

[2016-09-03 04:39] #17 closed

[2016-09-03 04:40] plasticine commented on #10
To be honest I’m pretty out of my depth here — I know very little about the implementation details of sourcemaps.

Anyone have any useful pointers on how to resolve this?

[2016-09-03 08:45] sudsy commented on #14
Hi Justin,

I'm not using babel at all. I'm using the native es6 module support from
Webpack 2.

I can't see how I can run the loader after the native transformations.

Sudsy

On Sat, 3 Sep 2016, 14:30 Justin Morris <notifications@github.com> wrote:

[2016-09-05 00:36] plasticine commented on #14
Ahh, OK — I see. I’m not sure if I can support that use-case, at the moment only injecting CJS deps is supported. I’ll try and see if I can come up with an alternative.

[2016-09-06 14:37] jnicholl commented on #17
Works for me. Sorry, I read through that issue but didn't quite realize it was the same.

[2016-09-07 17:17] Aaronius opened #18 "Loader didn't return a function error [3.0.0-beta1]"
When I try to upgrade from 2.x to 3.0.0-beta1 I start getting the following errors:

[code]

I'm guessing it has to do with the es6 modules in 3.x or something.

[2016-09-08 20:27] plasticine commented on #18
@aaronius thanks will have a look 👍🏼

[2016-09-15 15:59] oviava commented on #18
[code]

[2016-09-25 14:40] lvthanh101 commented on #18
hi @plasticine, do you have plan to fix this bug?

[2016-10-02 08:53] plasticine commented on #18
@lvthanh101 Yep, just haven’t had time. Hopefully soon.

[2016-10-02 09:53] #18 closed

[2016-10-12 20:05] andyperlitch commented on #6
FYI, this appears to be broken in `3.0.0-beta2`. We downgraded to `2.0.1` and it worked.

[2016-10-20 12:46] zincli commented on #18
hey man, I guess you made a mistake on return value. like @oviava said

[code]

the return value should be a module, it should export some thing. so `module.exports` here should not omit.

#19 got everything broken.

[2016-10-20 12:49] zincli opened #20 "#18 should be reopen"
please take a look at #18

[2016-10-20 12:50] zincli commented on #18
https://github.com/plasticine/inject-loader/blob/master/lib/index.js#L107  here's the problem

[2016-10-21 14:25] samny opened #21 "Not working with AMD modules"
I can't get this to work when loading AMD modules, but works fine for CommonJS and ES6 modules. Is this a known issue?

[2016-10-25 10:09] dizel3d opened #22 "Can I use it with ts-loader?"
Can I use it with [ts-loader](https://github.com/TypeStrong/ts-loader)? Give an example, please.

[2016-11-01 04:39] Deadarius opened #23 "Nested dependencies?"
Hello!
In my scenario I have a file ```a.js``` requiring ```b.js``` which requires ```c.js```
I want to mock ```c.js``` when I require ```a.js```

Is it possible? So far I was only able to mock c.js if I mock ```b.js``` directly...

Thank you!

[2016-11-14 23:56] Aaronius commented on #15
@plasticine I could really use this, but it was released as part of 3.x which is blocked due to https://github.com/plasticine/inject-loader/issues/18. How can we help? Do you need a PR or something?

[2016-11-30 13:05] perry-mitchell opened #24 "Receiving uncompiled source (import/export) with Webpack 2 (inject-loader 2.0.0 / 3.x)"
I used inject-loader with webpack 1.x and it functioned perfectly. Porting the code to webpack 2 gives some funny errors.

If I change the code to use `require("inject-loader!...` I get errors like so:
[code]

If I **leave** it as `"inject!...`, I get other errors:
[code]

I'm using Node 6.8 with Webpack 2.1.0-beta.26. I've tried inject-loader 2.0.1 and v3 beta. My code is es6 using import/export

[2016-12-02 22:51] TheLarkInn commented on #24
Ahhh what if instead you use `inject-loader!...` instead of just `inject`.

[2016-12-02 22:55] perry-mitchell commented on #24
@TheLarkInn That's what I did for my first try 😬 - It **works** (as in webpack recognises the loader), but that's exactly when I get the non-babelified output (with imports etc.). If I look at the output without trying to use inject-loader, all imports/exports are converted to commonjs as expected.

[2016-12-02 23:07] rmp135 commented on #24
Webpack 2 requires the `-loader` suffix on the loader so you must be `inject-loader`.

What do your webpack, karma and babel configs look like? I would also try rolling inject-loader back to 2.0.1 as I've never gotten v3 beta to work and it installs by default.

[2016-12-03 03:39] plasticine commented on #24
@perry-mitchell Thanks for the report, sorry that something seems to be not working correctly.

These errors;

[code]

...are as @rmp135 & @TheLarkInn have identified — `inject` alone is not enough for `inject-loader` to be correctly resolved.

As for the actual error — it looks from that error that babel is not compiling es6 imports leading to code like this being output;

[code]

Which is obviou

[2016-12-03 03:41] plasticine commented on #23
@Deadarius Nope—this is not really possible, sorry.

[2016-12-03 03:41] #23 closed

[2016-12-03 03:42] plasticine commented on #22
@dizel3d Can’t say I write any TypeScript — so this isn’t something that I’m very familiar with. Any chance you can provide an example?

[2016-12-03 03:44] plasticine commented on #21
@samny I’ve not built any support for AMD modules at this point no. If it’s something that is of interest it’s possible I could add it in a future version. Would love a PR! <3

[2016-12-03 03:44] #21 closed

[2016-12-03 10:26] perry-mitchell commented on #24
Thanks @rmp135, I'll try that in the next couple of days when I'm back in front of the workspace.

Thanks @plasticine - Yeah I guess that's the case there. I'll only be using `inject-loader` from now on, but at least it's possible to alias in the webpack config (or so I've seen).

This is the tricky part.. I'm not sure how to do that. I haven't found any documentation in webpack that covers how to

[2016-12-03 10:36] perry-mitchell commented on #24
This is my config (cobbled together from various files as it's currently being composed per environment):

[code]

There may be variables not defined but they are in the working environment. Obviously inject-loader is already installed (currently at v3).

[2016-12-03 20:42] perry-mitchell commented on #24
I've made 2 examples:

 * [Webpack 2 with inject-loader 2](https://gist.github.com/perry-mitchell/5f9f572f2126b0ca87f914dd074e3ded)
 * [Webpack 2 with inject-loader 3](https://gist.github.com/perry-mitchell/e6838b21e4214a8ab016865c23c62f6c)

Both fail with the same issue.

[2016-12-03 21:06] rmp135 commented on #24
You need a .babelrc file to actually tell babel how to transform the files.
One to prove it works would be the following.
[code]
Also, upgrade to inject-loader@2.0.1. That patch is important, it  won't work otherwise.

[2016-12-03 21:49] perry-mitchell commented on #24
Ah I forgot to include that! But I did run them with it. I'll update the examples later. I'll also update inject loader to that ver, thanks.

[2016-12-03 23:46] plasticine commented on #24
@perry-mitchell Awesome 🏆 Thanks very much — I’ll have a look at your examples and see if I can work out what’s going on. I would love to make `inject-loader` a bit more developer friendly in this area (at least try and catch some of this stuff and surface it as warnings or something if possible).

Unfortunately due to the nature of the tooling and environment that `inject-loader` works in there w

[2016-12-04 13:15] perry-mitchell commented on #24
I updated both gists:

 * Inject-loader v2 now uses 2.0.1 and has a .babelrc file
 * Inject-loader v3 now has a .babelrc file

The results? Puzzling. V3 dies with a different error:
![image](https://cloud.githubusercontent.com/assets/3869469/20866336/0a839150-ba34-11e6-81b9-b250fc617680.png)

But... v2 now works!
![image](https://cloud.githubusercontent.com/assets/3869469/20866341/24697102-ba34-11

[2016-12-04 19:18] plasticine commented on #24
@perry-mitchell Awesome — glad it’s working (kinda).

Yep, `2.0.0` was actually completely broken, so I’m glad the version bump got things moving again. :)

`3.x` is still a bit of a work in progress, so I’m not surprised that it’s not working yet. I’m actively working on it though, and it will support Webpack3 once done (hopefully I’ll have time soon).

[2016-12-04 20:34] perry-mitchell commented on #24
Thanks for the help @plasticine and others - this is a fantastic tool for testing! I'll be watching the 3.x release closely.

[2016-12-04 21:04] plasticine commented on #24
@perry-mitchell I would actually love to use your examples in the repo — would you be open to contributing them? Hopefully it would help others get up to speed. :)

[2016-12-04 21:28] perry-mitchell commented on #24
Please go ahead!

I'll be writing a post on this shortly as well, which I'll link here when I'm done 🙂

[2016-12-04 21:29] perry-mitchell commented on #24
I'm also happy to make a PR if that's what you meant..

[2016-12-04 21:34] plasticine commented on #24
@perry-mitchell Awesome—thanks! Nah, it’s OK, I’ll package it up. Will make sure I credit you though :+1:

[2016-12-05 07:09] perry-mitchell commented on #24
Also worth noting to avoid a .babelrc like this one, which I had at work:

[code]

Disabling the module format change will almost always cause this error to appear.

[2016-12-05 08:21] rmp135 commented on #24
That's because it isn't converting the modules.

What I settled on was running the tests under a different environment.

[code]

Then setting `process.env.NODE_ENV = "test";` inside the karma.conf.js file. You could  also set the `NODE_ENV` environment variable on the command line if you wished.

[2017-01-12 02:40] plasticine commented on #24
@perry-mitchell @rmp135 Hey peeps, have merged #25 which includes a bunch of fixes — namely webpack2 support (`> 2.2`) and usage examples for both webpack 1 & 2 with babel. Going to release that as `3.0.0-beta3` shortly/now.

[2017-01-12 02:40] #24 closed

[2017-01-12 02:41] plasticine commented on #18
Please check out `3.0.0-beta3` which should fix this issue and also introduces support for webpack2.

[2017-01-12 02:41] plasticine commented on #20
Should be resolved by #25

[2017-01-12 02:41] #20 closed

[2017-01-12 02:42] #22 closed

[2017-01-12 06:07] perry-mitchell commented on #24
Great! I'll give it a go tomorrow or next week in our primary script.

[2017-01-13 14:10] MEGApixel23 opened #27 "es6 import syntax error"
Hi!

I try to use ```inject-loader``` on a following file:

[code]

with code
[code]

and an error appears
[code]

Seems like es6 import syntax does not work in ```inject-loader```

[2017-01-13 14:12] plasticine commented on #27
@MEGApixel23 Could you provide some more information (webpack version/config, babel config, etc)? Looks to me like things are just a bit mis-configured.

Check out the examples in https://github.com/plasticine/inject-loader/tree/master/example and let me know if they help you out.

[2017-01-13 14:12] plasticine commented on #27
Also, what version of `inject-loader` are you using?

[2017-01-13 14:16] MEGApixel23 commented on #27
Here is my package.json file
[code]

and karma.config.js file
[code]

and webpack.config.js
[code]

[2017-01-15 12:16] plasticine commented on #27
@MEGApixel23 Please check out the examples in the repo — specifically the webpack config. This is not an issue with `inject-loader`, you’re just missing some confg.

[2017-01-15 12:16] #27 closed

[2017-01-16 15:40] MEGApixel23 commented on #27
You are right. Thanks a lot! Here is what I've done:

1. ```npm install babel-core babel-loader babel-preset-es2015 webpack --save-dev```
2. And added the following code into webpack config:
[code]

[2017-01-23 20:08] okize opened #28 "karma-phantomjs-launcher should be a dev dependency"
`karma-phantomjs-launcher` is currently listed as a dependency of `inject-loader` which causes npm warnings for projects that do not use karma. I believe this can be resolved by moving it to the `devDependencies` list.

[code]

[2017-01-26 23:19] #28 closed

[2017-02-14 00:15] stayman commented on #14
@plasticine is there any movement on this use case, I'd also be interested in this, and would be happy to collaborate on a PR if we could figure out a strategy that works.

[2017-02-14 01:03] plasticine commented on #14
@stayman No movement as such — no.

To be honest I can’t see that it’s possible to support this use-case. The whole premise of `inject-loader` is to wrap the module-under-test in a closure in order to inject dependencies — something that is in conflict with es6 style module imports where imports and exports must be at the top level.

For code under test I would suggest that you transform these imp

[2017-02-24 04:54] lewis-elliott opened #30 "Cannot find module 'inject!../../server'"
After running `npm install inject-loader --save-dev` I get this when I try use the loader through require:

`const inject = require('inject!../../server')`

Is there anything else that needs to be configured?

Webpack 1.13 and babel 6.2.4

[code]

[2017-02-24 23:37] #30 closed

[2017-02-27 08:29] vladimir-tikhonov opened #32 "$' combination breaks parsing"
Hello,

I've noticed that inject-loader cannot correctly process `$'` combination in files.

Given the following code:
[code]

I've got the following output:
[code]

This part is broken:
[code]

Any questions - please let me know.
P.s. And many thanks for this package, it's a real life-saver for me :+1:

[2017-02-27 14:07] rmp135 commented on #32
I have a feeling this is due to the `$'` which is being parsed as a regex match when [performing the injection](https://github.com/plasticine/inject-loader/blob/master/src/index.js#L61). Pull request #31 refactored the code to use a string replace which should fix this issue.
In the meantime, you can use double quotes or string literals as a workaround.
I'll also write a test to cover this case.

[2017-02-27 14:10] vladimir-tikhonov commented on #32
@rmp135 you are right, `$'` -> `$"` did the trick. Thank you!

[2017-02-28 04:27] lewis-elliott opened #33 "Should this work with babel-core/register?"
I'm using mocha and execute my tests like so:

`cross-env NODE_ENV=test ./node_modules/mocha/bin/mocha --compilers js:babel-core/register --recursive`

My package.json looks like [this.](https://github.com/jaredpalmer/react-production-starter/blob/master/package.json)

Should this setup work with inject-loader?

Thanks

Lewis

[2017-03-08 15:36] #33 closed

[2017-03-09 20:07] ricardolpd opened #34 "Question: instance method mocking"

[2017-03-09 21:52] #34 closed

[2017-03-13 08:12] vladimir-tikhonov commented on #32
If someone was affected by the same or similar issue - i just wrote [injectify-loader](https://github.com/vladimir-tikhonov/injectify-loader) which has the same api/behaviour, but using `babel` tools under the hood (instead of regular expressions). I was able to just replace `inject-loader` with `injectify-loader` in my project - and everything was working like a charm.

[2017-03-13 12:54] ricardolpd commented on #10
Hi guys,
Did you guys ever looked into this. I am not using instanbul, and i am getting the same issue, as soon as a test injects uses this framework breakpoints are broken.
Did you guys ever created a solution for this?

[2017-03-13 21:31] plasticine commented on #10
@ricardolpd Looked into it, yes. But no solution—still an open issue.

[2017-03-13 21:38] plasticine commented on #32
@vladimir-tikhonov Hey, that’s pretty cool—nice work! I’d kinda been meaning to explore something like that for this module given the ubiquity of babel these days (was not the case as much back when I first wrote `inject-loader`), and the hackiness of using regex. Would you consider a PR?

[2017-03-14 05:26] vladimir-tikhonov commented on #32
@plasticine I've written `injectify-loader` from scratch, so the only type of pr I can submit is "remove everything from `inject-loader` / add everything from `injectify-loader`" 😄

[2017-03-14 05:33] plasticine commented on #32
@vladimir-tikhonov Heh, fair enough :simple_smile: I suspect the next time I get a chance to do some OSS stuff I’ll probably be looking at going in the same direction in this project anyway, but I can certainly understand that you might want to keep `injectify-loader` as a separate project. 👍

In the meantime, @rmp135 is correct in stating that his PR #31 should resolve the above issue.

[2017-03-14 05:45] vladimir-tikhonov commented on #32
@plasticine I just wanted to state that these projects have many differences, so if I submit a pr it will be a complete rewrite of this package. However, I can definitely do this, if you are ok with that. Moreover, I think that having only one package that did the right thing is much better for the js community.

[2017-03-14 05:55] plasticine commented on #32
@vladimir-tikhonov nah, I would not be opposed to that at all — this project has never really been a very complex idea or implementation, and your implementation is really great.

I would love to be able to rule out a whole category of bugs (i.e this one) that come from hacky regexes, by adopting babel to transform code instead (it may also allow for fixing #17 finally!). I think adopting babel fo

[2017-03-14 05:59] vladimir-tikhonov commented on #32
@plasticine okie dokie, I'll submit a pr in a couple of days

[2017-03-18 13:35] vladimir-tikhonov commented on #10
I've added sourcemaps support in #36. Could someone give it a try?

[2017-03-19 08:01] #32 closed

[2017-03-19 08:01] vladimir-tikhonov commented on #10
Fixed by #36

[2017-03-19 08:01] #10 closed

[2017-03-21 10:44] ricardolpd commented on #10
@vladimir-tikhonov thanks for adding support for sourcemaps.
I just done a couple tests with my existent config:
It seems that breakpoints tests in my test folder are working now, however in my production code folder they only seem to work (not reliably though), if i add the breakpoint in the webpack output file and in same place in the original file.

I am using webpack 2.x + mocha, in vs code wi

[2017-03-21 15:15] vladimir-tikhonov commented on #10
@ricardolpd are you sure that this issues are caused by `inject-loader`? Webpack itself has a lot of problems with sourcemaps (especially when combined with `UglifyJSPlugin`), check this link for details - https://github.com/webpack/webpack/issues/2145

[2017-03-21 20:07] ricardolpd commented on #10
@vladimir-tikhonov, yes i agree with you, sourcemaps and webpack are not amazing:(. But yeah i think i am pretty sure its caused by inject-loader.
I have it all working in classes where inject-loader is not in (Because of this i have issue i have separated the tests to tests that require mocking and those that i get away with no mocking).
Also i am not using uglifyJSPlugin.
I really would like to

[2017-04-19 12:03] thg303 opened #39 "not compatible with create-react-app"
` Do not use import syntax to configure webpack loaders.`
shows this error message with create-react-app version 1.3.0 and fails the test

[2017-04-19 14:04] vladimir-tikhonov commented on #39
Sounds like [this eslint rule](https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-webpack-loader-syntax.md). Could you try to disable in in `eslint` config?

[2017-04-20 00:20] caiogondim opened #40 "Thanks"
Hey Mate,
Just passing by to say that your lib is amazing!

Keep up the good work.

[2017-04-26 04:09] plasticine commented on #40
Hey thanks @caiogondim <3

[2017-04-26 04:09] #40 closed

[2017-04-26 04:10] plasticine commented on #39
Pretty sure @vladimir-tikhonov is correct, @thg303 are you able to provide any more information here?

[2017-04-26 08:34] thg303 commented on #39
react-create-app is a zero-config boilerplate. so unless you do an `eject` you may not access to webpack config files.

[2017-04-26 11:23] plasticine commented on #39
@thg303 Hey there — yep I’m aware of create react app. The offending eslint rule is [this one](https://github.com/facebookincubator/create-react-app/blob/master/packages/eslint-config-react-app/index.js#L209).

If the warning is just coming from your test code you should just add an `// eslint-disable-import/no-webpack-loader-syntax` or similar.

[2017-04-26 11:23] #39 closed

[2017-04-27 20:40] sgriffin916 opened #41 "Not working for me"
I have tried in three different solutions and can't seem to get inject-loader to work.  I even downloaded the example you provided, did a npm install and then npm run test and get the same error.

![image](https://cloud.githubusercontent.com/assets/952375/25503359/1b0ad8b2-2b68-11e7-9231-60ed7c331c35.png)

I am sure it is something that I am misunderstanding and would appreciate any guidance.

[2017-04-29 12:38] huumanoid commented on #41
Hello @sgriffin916.
I've cloned this repo under my windows:
[code]
As a result, I've experienced the same issue!

But after I've mentioned that there is indeed no `inject-loader` in both `node_modules` and `../..` (see webpack.conf.js -> resolveLoader.modules)

To launch tests successfully, I've run the following command in `inject-loader/example/webpack2-babel`:
`npm install inject-request`
OR
[c

[2017-04-30 22:13] sgriffin916 commented on #41
So doing npm install inject-loader got the example project for me working.  Inspired, I did the following on my project, running the tests after all three and all three still failed. Bummer.
- npm install inject-loader
- npm install --save-dev inject-loader
- npm install --save inject-loader

I did discover that if I change it from -
const inject = require("inject-loader!EnsureLoggedIn");
to -
con

[2017-05-04 21:39] adamyonk opened #42 "Webpack + coffeescript + inject-loader"
I'm seeing this issue:

[code]

Babel config:

[code]

I have this loader in my webpack config:

[code]

And I'm trying to use inject-loader like so:

[code]

I assume this has to do with essentially doing `'inject-loader!coffee-loader!myfile'`. Do you have any guidance for how to configure this in a project that is also using coffee-loader (or some other lang-loader)? Thank you!

[2017-05-04 22:04] adamyonk commented on #42
AH, coffee files were never touching babel, so the import/exports were being left in. Changing my loader to:
[code]

seems to have fixed that issue.

[2017-05-04 22:04] #42 closed

[2017-05-08 18:52] sgriffin916 commented on #41
I ended up getting it to work using sinon.stub().  Thanks for getting back with me.

[2017-05-08 18:52] #41 closed

[2017-05-08 20:02] plasticine commented on #42
@adamyonk Glad you got it worked out! :)

[2017-05-13 09:52] sjalgeo commented on #30
@lewis-elliott did you resolve this? if so what was the issue?

[2017-06-01 16:13] ericwood73 opened #43 "Cannot find module"
I am not having any success in using inject-loader in my project.  I keep getting cannot find module 'inject-loader!../myModule'.  I was using webpack 1, and I updated to webpack 2 but has not made any difference.  I tried including some of the settings in my webpack.config from the examples and it did not work (and caused other module to not be found).  I noticed that I get the same error in RunK

[2017-06-03 18:12] MartinDawson commented on #43
Yep, examples are broke.

[2017-06-08 23:54] renatodex commented on #43
I dont understand. Inject-loader is the very definitive solution for dependency injection in javascript, since it workarounds the javascript ability to enable hard-core metaprogramming using Webpack loaders. Its wonderful, Its amazing, and its broken and less-documented.

I spend hours trying to make the inject-loader works, and i keep getting the "import/export top line error". Its really exausti

[2017-06-09 07:38] MartinDawson commented on #43
@renatodex Fwiw, I got the same to work with proxyquire.

[2017-06-09 13:47] ericwood73 commented on #43
FWIW, this is what I've been using for dependency injection until I can get inject-loader to work.  In the module to be injected into I add these lines (for example to inject store.js)

[code]
I just need to add an entry to dependencies and a get method for each dependency.

Then I can use it in my test like this:

[code]

[2017-06-09 19:38] vladimir-tikhonov commented on #43
Guys, could someone create a github repo to demonstrate the issue? There is nothing we can do until someone provide us with a concrete example.

Speaking about @ericwood73 archive - seems like
[code]
should be replaced with
[code]

But I don't know for sure, because `webpack`'s config is not attached.

[2017-06-12 11:32] stream7 commented on #43
@vladimir-tikhonov this is the output of `npm test` in the webpack2-babel example:

[code]

node v6.10.0, npm 3.10.10.

[2017-06-12 13:07] vladimir-tikhonov commented on #43
@stream7 `Module build failed: Error: Cannot find module 'babel-core'` - you haven't run `npm i`

[2017-06-12 13:10] stream7 commented on #43
@vladimir-tikhonov nope, I did 😄 . Did you try it?

[2017-06-12 13:13] vladimir-tikhonov commented on #43
@stream7 yep
[code]

[2017-06-12 13:13] stream7 commented on #43
@vladimir-tikhonov could you please post node/npm versions?

[2017-06-12 13:15] vladimir-tikhonov commented on #43
@stream7 node v7.3.0, npm v3.10.10

[2017-06-12 13:15] stream7 commented on #43
@vladimir-tikhonov could you also try a clean install? `rm -rf node_modules`

[2017-06-12 13:24] vladimir-tikhonov commented on #43
@stream7 `sudo rm -r inject-loader/ && git clone https://github.com/plasticine/inject-loader.git && cd inject-loader/example/webpack2-babel/ && npm i && npm test` - still works.
Could you try to run `make integration-test` in `~/Code/inject-loader/` ?

[2017-06-12 13:38] stream7 commented on #43
I get the same error (with node 7.3.0)

[code]

[2017-06-12 13:45] stream7 commented on #43
@vladimir-tikhonov not sure why but the second time I ran it, it worked. Now, even if I run `npm test` in the example directory it works too 🤔

[2017-06-12 14:06] stream7 commented on #43
... which is kind of expected I guess. It also works if I use the npm package:

[code]

[2017-06-27 23:00] DrGor opened #44 "Any chance of transitive dependencies ?"
Thanks for this nice library.
Is there any chance of adding support for injecting transitive dependencies ?

Module A ----imports ---->  Module B  ----imports ----> Module C
I want to be able to mock Module C when testing Module A.

[2017-07-27 00:37] MaxMilton opened #46 "Webpack 3 compatibility"
I saw this commit which adds basic Webpack 3 compatibility — https://github.com/plasticine/inject-loader/commit/313f7964bbfcd0f40e769efa0235984d82977145#diff-b9cfc7f2cdf78a7f4b91a753d10865a2 — however, this change hasn't been released to NPM. Is there anything that's preventing this from being released?

This package is the last piece of the puzzle before we can update https://github.com/vuejs-tem

[2017-07-27 01:00] plasticine commented on #46
`3.0.1` published.

[2017-07-27 01:00] #46 closed

[2017-07-27 01:22] MaxMilton commented on #46
Thank you very much!

[2017-10-10 23:57] sterling commented on #21
I'm running into issues with amd modules as well. Would love to see support in the future!

[2017-10-13 11:23] morfj commented on #44
Strictly speaking, you are not testing ModuleA in that case, you are testing ModuleA & ModuleB collaboration.

[2017-10-13 21:28] Aaronius commented on #15
@plasticine this is broken again in 3.x. The output in 3.X looks like:

[code]

So even though `__getInjection` returns `null`, ` || __webpack_require__(4);` overrides it anyway.

[2017-10-13 23:42] plasticine commented on #44
@DrGor Yep, @morfj is correct. Implementing this is not really something that I’m interested in supporting, as I feel it’s a pretty unusual use-case. Feel free to re-open or submit a PR if you don’t agree though.

[2017-10-13 23:42] #44 closed

[2017-10-13 23:46] plasticine commented on #15
@Aaronius Hrm—yeah looks like we might’ve regressed this in the re-write to using Babel to parse modules, which happened in 3.x.

Could I get you to raise a new issue and I’ll try and tackle it soon.

[2017-10-13 23:48] Aaronius commented on #15
Sure! If I get a moment I might try tackling it myself.

[2017-10-13 23:50] Aaronius opened #47 "Regression: When injecting a falsey export, it shouldn't fall back to real module"
Regression of #15.

In one of my tests, I wish to inject an falsey export. That is, I want to see what module A does when it requires module B and module B exports `undefined`, `null`, or `false`. Unfortunately, inject-loader outputs something like this:

[code]

So even though `__getInjection` returns `null`, ` || __webpack_require__(4);` overrides it anyway.

[2017-10-13 23:54] plasticine commented on #47
@Aaronius thanks for following up on this, and apologies for the regression! :)

[2017-10-14 03:54] Aaronius commented on #47
I started on this but I can't get tests to run on master:

[code]

I haven't dug into it deeply, but if you know what's up, it would help me out.

Also, the strategy I was going to pursue was changing the output from this:

[code]

To something like this:

[code]

If you have feedback on that strategy, that would also help. Thanks!

[2017-10-14 04:05] Aaronius commented on #47
Looks like I had to run `npm run build-test` before `npm run test` or something. Anyway, tests are running now. Thanks.

[2017-12-18 19:55] kkroboth opened #50 "babelrc config not used"
In version 3.0.1 this PR #38 disabled babelrc file configs which doesn't compile my code correctly.

Does this option need to be false or is there another way to include my babel config? Using the env option in babelrc we can set up a different environment for testing that doesn't interfere with "filename".

[2017-12-20 05:14] #47 closed

[2018-01-13 07:34] jarecsni opened #51 "Not working with React Native packager?"
Tried the simplest of cases, something like

const injector = require('inject-loader!./SomeModule')

Got the below exception

 Cannot find module 'inject-loader!./ExerciseExternalView' from 'ExerciseExternalView.spec.js'

      at Resolver.resolveModule (node_modules/jest-resolve/build/index.js:191:17)

Not sure if inject-loader is supposed to work with RN?

[2018-01-22 15:21] mixer2 opened #52 "Wrong branch coverage"
I tried inject-loader with Typescript and Istanbul coverage.

For the code:
[code]
The inject-loader adds a logical or-expression. The result looks like:
[code]

If the depedency is mocked in all tests and the actual module is never used, the right side of the or-expression is never executed. This results in an uncovered branch in the coverage report.

[2018-02-28 09:18] eugeneford opened #53 "Add webpack v4 to peerDependencies"
Webpack 4 is already landed https://github.com/webpack/webpack/releases. Please add it to peerDependencies of this module.

[2018-03-02 10:51] JeanBarriere commented on #53
:+1:

[2018-03-20 13:43] rmartins90 opened #55 "Work with Jest"
Can't get this working with Jest. Got a

[2018-03-21 00:11] plasticine commented on #55
@rmartins90 Yep, that’s expected — `inject-loader` only works with Webpack.

[2018-03-21 00:11] #55 closed

[2018-03-22 18:27] jml6m opened #56 "Mocking out the 'request-promise' library"
I have npm library [request-promise](https://github.com/request/request-promise) and am importing as so at the top of a NodeJS file:

`import * as original_request from 'request-promise';`

Exported function that uses this as seen here:

[code]

In test file I am mocking out like this:

[code]

Getting error: `TypeError: original_request(...).then is not a function`

I think I need to change the `

[2018-04-07 03:00] plasticine commented on #53
Done — please check out the `4.x` release and let me know if you have any issues.

[2018-04-07 03:00] #53 closed

[2018-04-07 03:02] plasticine commented on #51
@jarecsni This is expected — React Native does not use Webpack, instead bundles code with https://github.com/facebook/metro

`inject-loader` only works with Webpack.

[2018-04-07 03:02] #51 closed

[2018-04-07 03:06] plasticine commented on #56
You’re correct — you’ve changed `original_request(...)` to return an array;

[code]

and are then trying to call `.then` on it.

As for your `SyntaxError`, I’d need more information to be able to assist you with that. Regardless I don’t think this is an error with `inject-loader` itself, so I’m going to close this out unless you can manage to create a repro for me.

[2018-04-07 03:06] #56 closed

[2018-04-07 03:10] plasticine commented on #43
Hey there — just trying to clean up old issues. A fair bit has changed since this issues was last updated, and I’m unable to re-create it, so I’m going to close it out. Please open another issue if this is still a thing for you though <3

[2018-04-07 03:10] #43 closed

[2018-04-07 03:11] plasticine commented on #52
@mixer2 Hey there — yep, working around Istanbul (coverage in general) is pretty tricky. It’s something I’d love to support but have been unable to find the time to explore how (and if) it can be done. Sorry for the inconvenience.

[2018-04-17 15:17] tristanpendergrass commented on #55
I'm having this issue too.

@plasticine Jest is not an alternative to Webpack so did you mean "only works with Karma"?

[2018-04-19 10:08] eugeneford commented on #52
@mixer2, @plasticine, the same in my project. We are using: Karma + Webpack + Istanbul Instrumenter Loader + coverageInstunbulReporter.

We are facing a pretty similar issue. Lets say that we have:
[code]

Test spec would be:
[code]

The issue is that coverage report shows that original `doSomething()` function is completely uncovered.

[2018-04-27 23:47] plasticine commented on #55
@tristanpendergrass Nope, that’s not really what I meant, but I can see why that was perhaps not as clear as it could’ve been.

You can use whatever test runner you want, but your test code _has_ to be compiled by Webpack before passing it to the runner, thus @rmartins90’s issue above with the inline loader syntax.

`inject-loader` requires roughly the following;

[code]

How you organise this wor

[2018-06-25 16:49] andreventuravale opened #59 "Calling require() with dynamically formed paths leads to runtime issue with webpack"
Calling require() with dynamically formed paths leads to runtime issue with webpack:

[code]

Throws the following issue with webpack 3 at runtime:

[code]

[2018-07-11 22:41] jPomeranz opened #60 "Cannot mock default and named exports together"
Repro:
`'../path/to/module': {
     default: someDefaultMock,
     named: someNamedMock
},`

This code works with just the `default` or `named` modules, however, using both in conjunction causes the default import to fail.

Temporary workaround:
Instead of only using `export default` on your current default module, export it as a default and named export, eg `named2`. Then you can import all your

[2018-09-03 15:32] matteoantoci opened #62 "Add support for Babel 7"
Hi there!

Just wanted to point out that `inject-loader` doesn't work properly with Babel 7.

Running my tests suite I get this error whenever `inject-loader` is imported in my tests:

[code]

Maybe is due to the hardcoded usage of the deprecated `babel-core` module inside `inject-loader`? 🤔

[2018-09-04 05:14] plasticine commented on #62
@matteoantoci Hey thanks for the report, I’ll try and find time to have a look :)

[2018-09-04 07:14] plasticine commented on #60
Hey, thanks for this, I’ll take a look.

[2018-09-21 10:04] miquelmasrieramrf commented on #62
that would be nice!
In the meantime if you want to use babel-loader with babel7, you can use [@babel/plugin-transform-modules-commonjs](https://www.npmjs.com/package/@babel/plugin-transform-modules-commonjs) as a babel-loader plugin in your test webpack config.
It will transform the modules to commonjs so the loader will work

[2018-09-27 16:05] hershmire commented on #27
@plasticine Do you have any examples with Babel 7? I'm getting similar issues once upgrading to Babel 7. Worked fine with Babel 6.

[2018-10-05 14:29] wwarme commented on #62
Had the very same issue, we just migrated to Babel 7, @babel/plugin-transform-modules-commonjs came to rescue. Thanks alot!
If not dependant on module: "esnext" - module: "commonjs" in tsconfig does the trick too.

[2019-01-03 21:19] Mavtak commented on #27
@hershmire, did you ever find a solution?

[2019-01-08 22:43] yaakov123 commented on #27
https://github.com/plasticine/inject-loader/issues/62#issuecomment-423482127 provides a workaround

[2019-01-08 22:59] plasticine commented on #27
@Mavtak Yep, as @yaakov123 mentioned the tl;dr of this is that inject-loader operates on CJS modules only (at the moment anyway), so any code you want to inject needs to be compiled to CJS before inject-loader can operate on it.

[2019-01-08 23:09] plasticine commented on #62
Thanks tl;dr of this is that inject-loader operates on CJS modules only (at the moment anyway), so any code you want to inject needs to be compiled to CJS before inject-loader can operate on it. This should probably be documented better and/or an example for Babel 7.

[2019-04-23 16:15] #59 closed

[2019-07-10 09:41] miquelmasrieramrf commented on #62
https://babeljs.io/blog/2019/07/03/7.5.0#dynamic-import-9552-https-githubcom-babel-babel-pull-9552-and-10109-https-githubcom-babel-babel-pull-10109

[2019-08-12 11:24] zfeher commented on #62
Hey' We are currently migrating to Babel 7.5.5 and Webpack 4.35.3 and we ran into some problem with some of our tests which needs `inject-loader`.

As soon as I add the `import SomeComponent from 'inject-loader!.';` and run the tests it will print an error that it doesn't know about the object rest/spread operator (whereas babel preset env is properly configured and set to the correct node version

[2020-03-17 01:49] amccloud commented on #62
I was able to work around this issue by upgrading `inject-loader` to @seanparmelee's babel 7 fork https://github.com/seanparmelee/inject-loader/commit/fcd20ba515118d528296053b772b78802fe41496 at and then setting babel-preset-env's `modules` to `commonjs` for my test env

[code]

[2020-05-20 06:55] seanparmelee commented on #62
I opened a couple PRs that should help out here:
#73 adds ESM support so you no longer have to transform your modules to CJS format before running them through inject-loader
#74 includes #73 and upgrades to Babel 7.

Would love it if someone could try out the ESM feature in either PR to help identify any use cases I may have missed.

[2021-03-26 20:49] Wizek opened #80 "Nested dependencies?"
To quote #23:

Has this become possible in the last 4.5 years?

If not, what is advised here? Can this be worked around? Or does a different package have this feature?

[2021-03-26 21:30] Wizek commented on #80
Imagine a scenario like this:

[code]

If we want to run tests that involve these `api*` functions, it would be nice if we could mock `ourFetch` directly like this:

[code]

[2021-07-19 12:28] sanibs23 opened #84 "TS-support"
@plasticine, Do you have any plan to make the package compatible with Typescript?
It would be nice if it does support TS.
Basically, I want to use this in my Vue 3 and TS project to test my Vuex action and mutation.
Thanks

[2021-09-27 20:54] JamesBurgoon opened #87 "Webpack version 5.x support?"
When attempting to install with Webpack version 5.x:

[code]

[2021-10-02 12:55] nahojj commented on #87
+1, same here... is this package dead?

[2021-12-09 19:44] JamesBurgoon commented on #87
No response so I assume so.